# === Python / FastAPI ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Environnements virtuels
env/
venv/
venv*/           # venv, venv3, etc.
.venv/
iam-env/

# Configuration personnelle
.env
*.sqlite3
.DS_Store

# === Pytest / test reports ===
htmlcov/
.coverage
.cache/
.pytest_cache/
.tox/
.mypy_cache/
.nosetests.xml
coverage.xml
*.cover
*.py,cover

# === VS Code / IDE ===
.vscode/
.idea/
*.swp
*~

# === React / frontend ===
iam-frontend/node_modules/
iam-frontend/build/
iam-frontend/.env
iam-frontend/.DS_Store
iam-frontend/.next/
iam-frontend/.turbo/
iam-frontend/yarn.lock
iam-frontend/package-lock.json

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*